body{
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #252d39, #003d4d, #004d4d, #005a34, #456205);
}
div,h1,h2,h3,h4,h5,h6,a{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}